* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: fixed;
    background-color: #191a2e;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.heading {
    padding: 40px 0 50px;
    text-align: center;
    color: white;
    font-size: 60px;
    word-spacing: 4px;
    letter-spacing: 4px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}


.ghost {
    margin-bottom: 200px;
    zoom: 0.8;
    animation: move 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate infinite;
}

.ghost-body {
    position: relative;
    background-color: white;
    width: 200px;
    height: 230px;
    border-radius: 100px 100px 0 0 ;
    margin-left: 50%;
    transform: translateX(-50%);

}

.ghost-body:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    top: calc(100% - 1px);
    border-radius: 0 0 50% 50%;
    box-shadow: 40px 0 0 #fff,
    80px 0 0 #fff,
    120px 0 0 #fff,
    160px 0 0 #fff;
    
}

.ghost-body:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color:#fff;
    top: 100px;
    left: -20px;
    border-radius: 50%;
    box-shadow: 200px 0 0 0 #fff;

}

.ghost-eyes {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #191a2e;
    position: absolute;
    top: 70px;
    left: 50px;
    box-shadow: 60px 0 0 0 #191a2e;
}

.ghost-mouth {
    position: absolute;
    margin: 10px auto 0;
    top: 110px;
    left: 50px;
    background-color: #191a2e;
    width: 100px;
    height: 50px;
    border-radius: 0 0 100px 100px;
}

.ghost-mouth:before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 10px;
    height: 10px;
    top: -3px;
    left: 24px;
}

.watch-more {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.watch-more-text {
    text-align: center;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}

.watch-btn {
    width: 72px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 21px;
    margin: 10px auto;
    color: #191a2e;
    background-color: #fff;
    border-radius: 10px;
    line-height: 40px;
    box-shadow: 0px 3px 1px #333 ;
}

.watch-btn:hover {
    animation: move2 0.3s ease-in-out alternate infinite ;
}

@keyframes move2 {
    from {

    }
    to {
        transform: translateY(2px);
    }
}

.made-by {
    padding: 40px 0;
    text-align: center;
}

.made-by-name {

    color: rgba(255, 255, 255, 0.3);
    font-family: 'Raleway', sans-serif;

}

.made-by-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}

.made-by-link:hover {
    color: rgba(255, 255, 255, 0.7);
    
}

@keyframes move {
    to {
        transform: translateY(40%);
    }
}